# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Dependency directories (remove the comment below to include it)
# vendor/

# Deb related artifacts
debian/.debhelper
debian/files
debian/randomtrader.substvars
debian/randomtrader

# Randomtrader binary
cmd/randomtrader/randomtrader

# python
pkg/predict/python

# auth
auth

# tmp
tmp